<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteRule ^web/(.*?)\?(.*?)$ web/index.php?r=$1&$2 [L]
#  RewriteRule ^web/(.*?)$ web/index.php?r=$1 [QSA,PT,L]
  RewriteRule ^web/(.*?)$ http://www.baidu.com [QSA,PT,L]
#  RewriteRule ^/([0-9]?)([\.]?)([0-9]+)/(.*)$ /$1$2$3/index.php$4 [QSA,PT,L]
</IfModule>