html,

body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto -20px;
    padding: 0 0 10px;
}

.wrap > .container {
    width: 100%;
    padding: 10px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

table {
    width:100%;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    background-color: rgba(61, 180, 204, 0.34);
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table td {
    border-width: 1px;
    background-color: rgba(150, 204, 126, 0.31);
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}